button, a {
	outline: none !important;
}
body {
	background-color: #eee;
	width: 100%;
	height: 100%;
}
label {
	margin-bottom: 0rem
}
input, textarea {
	color: #666
}
.collection-item span {
	line-height: 2rem;
}
.datepicker, .timepicker {
	width: 88.5px !important;
}
.modal-delete{
	float: inline-start;
}